{
  "tabWidth": 2,
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2,
        "printWidth": 40
      },
      "excludeFiles": ["package.json", "package-lock.json"]
    },
    {
      "files": "*.yml",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
